.app-container {
  display: flex;
  flex-direction: row;

}

.sidebar {
  background-color: #343a40;
  height: calc(100vh - 55px);
  position: fixed;
  top: 55px;
  left: 0;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  overflow: hidden;
  width: 60px; /* Collapsed width */
}

.sidebar.expanded {
  width: 200px; /* Expanded width */
}

.sidebar-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item:hover {
  background-color: #495057;
}

.nav-icon {
  font-size: 1.5rem;
  transition: margin 0.3s ease;
}

.nav-text {
  display: inline-block;
  opacity: 1;
  margin-left: 10px;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.sidebar:not(.expanded) .nav-text {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.toggle-button-container {
  display: flex;
  background-color: #343a40;
}

.toggle-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.toggle-button:hover {
  background-color: #495057;
}

.main-content {
  flex-grow: 1;
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar.expanded ~ .main-content {
  margin-left: 200px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  position: absolute;
  top: 75px;
  right: 15px;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    width: fit-content;
  }

  .sidebar {
    width: 100vw;
    height: 55px;
    position: static;
    top: 55px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .sidebar.expanded ~ .main-content {
    margin-left: 0px;
  }
  

  .toggle-button {
    display: block;
    position: absolute;
    top: 70px;
    right: 5px;
  }

  .sidebar.expanded {
    height: auto;
    width: 100%;
  }

  .sidebar-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .nav-item {
    flex: 1 1 20%;
    justify-content: center;
    padding: 10px;
  }

  .main-content {
    margin-left: 0;
    margin-top: 20px; 
    transition: margin-top 0.3s ease;
  }

  .card {
    display: flex;
    position: absolute;
    top: 115px;
    right: 15px;
  }

}
